# Binaires compiles
TD/TD7-piles-files-arbres/pile
TD/TD7-piles-files-arbres/file
TD/TD7-piles-files-arbres/arbre
TD/TD8-arbres-binaires-recherche/abr
TP/TP3-listes-chainees-lexique/tp3
TP/TP4-abr-lexique-jaccard/tp4

# Objets et fichiers temporaires
*.o
*.out
*.exe

# Fichiers d'edition
*~
.vscode/
.DS_Store
